.apple {
  width: 200px;
  height: 118px;
  background: url('~@/assets/img/fruits_css_sprites.png') -450px -746px;
}
.banana {
  width: 200px;
  height: 146px;
  background: url('~@/assets/img/fruits_css_sprites.png') -830px -10px;
}
.blackberry {
  width: 200px;
  height: 173px;
  background: url('~@/assets/img/fruits_css_sprites.png') -610px -10px;
}
.carambola {
  width: 200px;
  height: 153px;
  background: url('~@/assets/img/fruits_css_sprites.png') -450px -566px;
}
.cherry {
  width: 170px;
  height: 273px;
  background: url('~@/assets/img/fruits_css_sprites.png') -10px -273px;
}
.chicken {
  width: 200px;
  height: 141px;
  background: url('~@/assets/img/fruits_css_sprites.png') -830px -176px;
}
.dragonFruit {
  width: 200px;
  height: 199px;
  background: url('~@/assets/img/fruits_css_sprites.png') -390px -232px;
}
.grapefruit {
  width: 200px;
  height: 125px;
  background: url('~@/assets/img/fruits_css_sprites.png') -830px -485px;
}
.grapes {
  width: 200px;
  height: 122px;
  background: url('~@/assets/img/fruits_css_sprites.png') -10px -746px;
}
.guava {
  width: 200px;
  height: 171px;
  background: url('~@/assets/img/fruits_css_sprites.png') -610px -203px;
}
.kiwi {
  width: 200px;
  height: 101px;
  background: url('~@/assets/img/fruits_css_sprites.png') -10px -888px;
}
.lemon {
  width: 200px;
  height: 157px;
  background: url('~@/assets/img/fruits_css_sprites.png') -230px -566px;
}
.litchi {
  width: 200px;
  height: 109px;
  background: url('~@/assets/img/fruits_css_sprites.png') -670px -746px;
}
.mango {
  width: 200px;
  height: 128px;
  background: url('~@/assets/img/fruits_css_sprites.png') -830px -337px;
}
.orange {
  width: 200px;
  height: 120px;
  background: url('~@/assets/img/fruits_css_sprites.png') -230px -746px;
}
.papaya {
  width: 101px;
  height: 200px;
  background: url('~@/assets/img/fruits_css_sprites.png') -230px -330px;
}
.peach {
  width: 200px;
  height: 202px;
  background: url('~@/assets/img/fruits_css_sprites.png') -390px -10px;
}
.pear {
  width: 200px;
  height: 160px;
  background: url('~@/assets/img/fruits_css_sprites.png') -10px -566px;
}
.pineapple {
  width: 140px;
  height: 300px;
  background: url('~@/assets/img/fruits_css_sprites.png') -230px -10px;
}
.strawberry {
  width: 200px;
  height: 150px;
  background: url('~@/assets/img/fruits_css_sprites.png') -610px -394px;
}
.watermelon {
  width: 200px;
  height: 243px;
  background: url('~@/assets/img/fruits_css_sprites.png') -10px -10px;
}
