#apple {
  background-image: url('~@/assets/img/apple.png');
}
#banana {
  background-image: url('~@/assets/img/banana.png');
}
#blackberry {
  background-image: url('~@/assets/img/blackberry.png');
}
#carambola {
  background-image: url('~@/assets/img/carambola.png');
}
#cherry {
  background-image: url('~@/assets/img/cherry.png');
}
#chicken {
  background-image: url('~@/assets/img/chicken.jpg');
}
#dragonFruit {
  background-image: url('~@/assets/img/dragonFruit.png');
}
#grapefruit {
  background-image: url('~@/assets/img/grapefruit.png');
}
#grapes {
  background-image: url('~@/assets/img/grapes.png');
}
#guava {
  background-image: url('~@/assets/img/guava.png');
}
#kiwi {
  background-image: url('~@/assets/img/kiwi.png');
}
#lemon {
  background-image: url('~@/assets/img/lemon.png');
}
#litchi {
  background-image: url('~@/assets/img/litchi.png');
}
#mango {
  background-image: url('~@/assets/img/mango.png');
}
#orange {
  background-image: url('~@/assets/img/orange.png');
}
#papaya {
  background-image: url('~@/assets/img/papaya.png');
}
#peach {
  background-image: url('~@/assets/img/peach.png');
}
#pear {
  background-image: url('~@/assets/img/pear.png');
}
#pineapple {
  background-image: url('~@/assets/img/pineapple.png');
}
#strawberry {
  background-image: url('~@/assets/img/strawberry.jpg');
}
#watermelon {
  background-image: url('~@/assets/img/watermelon.png');
}
